.flex {
    display: flex;
    flex-direction: column;
}
.container {
    justify-content: center;
    align-items: center;
    width: 100%
}
.flex {
    display: flex;
}

form {
    width: 400px;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 5px;
}

.flex-column {
    flex-direction: column;
}